* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
}

.formulario {
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}